

body {

  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'times new roman';
  background: linear-gradient(#e99331, #e26dcf)
}

input {
  text-align:center;
  color: rgb(60,37,33);
  font-size: medium;
  box-sizing: border-box;
}

.search-container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.search-container ul,
.search-container input {
  margin: auto;
  position: relative;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
}
.search-container ul {
  max-height: 600px;
}

.ul li {
  list-style-type: none;
  font-size: large;
  font-family: 'times new roman';
}

.dropdown {
   position: relative;
   display: inline-block;
}

.search-input {
padding: 10px;
width: 200px;
}

.dropdown-list{
  display: none;
  position: absolute;
  background-color: #f9f9f9
}

.dropdown-list li {
  cursor: pointer;
}

.dropdown:hover .dropdown-list {
  display: block; 
}